.card{
    width:150px;
    height:150px;
    border:1px solid black;
    border-radius: 5px;
    display:inline-block;
    margin: 5px;
    background-image: url("cardBack.jpg");
    background-color: #cccccc;
    background-size: 150px 150px;
  }

  .front{
    width:150px;
    height:150px; 
  }