.app-nav{
    margin:0;
    background-color:purple;
    height:65px;
}

.nav-list{
    padding-top:15px;
    padding-bottom:5px;
    text-align:right;
    margin-top:0;
}
.nav-item{
    display:inline;
}
div{
    margin:0;
}
